#root, body {
  width: 100%;
  height: 100vh;
  background:"linear-gradient(69deg, #060606 11.65%, #0D3231 66.81%, #0A0C0C 103.36%)";
  margin: 0;
  display: 'flex' ; 
  justify-content: "center";
  align-items: "center";
  align-content: center;
}

a {
  font-size: 1.1rem;
  font-family: 'Nunito', sans-serif;  
  color: #77EBEB;
  text-decoration: inherit;
}
a:hover {
  color: #9A40E0;
}
